@model IEnumerable<WebThoiTrang.Models.EF.Order>

@if (Model != null)
{
    var i = 1;
    <h4>Đơn hàng đã mua</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>STT</td>
                <td>Mã DH</td>
                <td>Ngày mua</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@i</td>
                    <td><a href="/account/DetailOrder/@item.Id">@item.Code</a></td>
                    <td>@item.CreatedDate</td>
                </tr>
                i++;
            }
        </tbody>
    </table>
}
